Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2020-10, with the labels that each got.

#113 Fix the failing multiarch builds
  Dockerfile
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note, size/XS

#116 Revert to multiarch distroless base Image
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#115 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#118 master: update release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L
