Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2021-11, with the labels that each got.

#167 docs: update livenessprobe initialDelaySeconds and timeoutSeconds
  README.md
Labels: cncf-cla: yes, kind/documentation, ok-to-test, approved, lgtm, release-note-none, size/S

#171 feat: add an option to enable pprof profiling
  README.md
  cmd/csi-node-driver-registrar/main.go
  cmd/csi-node-driver-registrar/node_register.go
Labels: kind/feature, size/M, cncf-cla: yes, ok-to-test, approved, lgtm, release-note

#172 2.4.0 Changelog
  CHANGELOG/CHANGELOG-2.4.md
Labels: cncf-cla: yes, kind/documentation, approved, lgtm, release-note-none, size/S

#173 master: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#176 release-2.4: update release-tools
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#175 release-2.3: update release-tools
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/L
