Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2022-08, with the labels that each got.

#208 master: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#210 release-2.3: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#214 Remove mkdir call while creating the registration probe file
  pkg/util/util_test.go
  pkg/util/util_unix.go
  pkg/util/util_windows.go
Labels: cncf-cla: yes, approved, lgtm, release-note, size/S

#209 release-2.2: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#216 Update release tools
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/S
