Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2022-11, with the labels that each got.

#235 release-2.6: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#237 Changelog for 2.6.1
  CHANGELOG/CHANGELOG-2.6.1.md
Labels: kind/cleanup, cncf-cla: yes, approved, lgtm, release-note-none, size/S

#240 master: update release-tools
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, size/XS, release-note-none

#241 release-2.5: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#242 release-2.6: update release-tools
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, size/XS, release-note-none

#247 Revert "Remove mkdir call while creating the registration probe file"
  pkg/util/util_test.go
  pkg/util/util_unix.go
  pkg/util/util_windows.go
Labels: kind/bug, cncf-cla: yes, approved, lgtm, release-note, size/S

#248 Automated cherry pick of #247: Revert "Remove mkdir call while creating the registration
  pkg/util/util_test.go
  pkg/util/util_unix.go
  pkg/util/util_windows.go
Labels: cncf-cla: yes, approved, lgtm, release-note, size/S
