Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2022-02, with the labels that each got.

#182 Update image version in the README to the latest v2.5.0
  README.md
Labels: cncf-cla: yes, kind/documentation, approved, lgtm, size/XS, release-note-none

#181 make the driver compatibliity with csi spec 1.5.0
  README.md
Labels: cncf-cla: yes, kind/documentation, approved, lgtm, release-note, size/XS

#186 release-2.3: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/L

#185 release-2.2: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/L

#184 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#187 release-2.4: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/L
