Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2022-01, with the labels that each got.

#174 release-2.2: update release-tools
  OWNERS_ALIASES
  pkg/util/util_linux.go
  pkg/util/util_windows.go
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/OWNERS
  release-tools/OWNERS_ALIASES
  release-tools/README.md
  release-tools/SECURITY_CONTACTS
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/pull-test.sh
  release-tools/verify-shellcheck.sh
Labels: cncf-cla: yes, approved, lgtm, release-note-none, size/L

#178 master: update release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#179 Changelog 2.5
  CHANGELOG/CHANGELOG-2.5.md
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none, do-not-merge/hold

#180 Add missing header in CHANGELOG-2.5.md
  CHANGELOG/CHANGELOG-2.5.md
Labels: cncf-cla: yes, kind/documentation, approved, lgtm, size/XS, release-note-none
