Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2023-04, with the labels that each got.

#289 Update dependency go modules for k8s v1.27.0
  go.mod
  go.sum
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/filter-junit.go
  release-tools/prow.sh
  vendor/modules.txt
Labels: size/M, cncf-cla: yes, approved, lgtm, release-note-none

#293 Update csi-release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
Labels: kind/cleanup, cncf-cla: yes, approved, lgtm, size/XS, release-note-none

#294 Add changelog for v2.8.0
  CHANGELOG/CHANGELOG-2.8.md
Labels: cncf-cla: yes, kind/documentation, approved, lgtm, release-note-none, size/L
