Repository kubernetes-csi/node-driver-registrar, pull requests merged in 2024-12, with the labels that each got.

#465 Prow update master
  release-tools/build.make
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: size/M, kind/cleanup, cncf-cla: yes, ok-to-test, approved, lgtm, release-note-none

#470 Update release tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: kind/cleanup, cncf-cla: yes, ok-to-test, approved, lgtm, size/XS, release-note-none

#472 Add changelog 2.13.0
  CHANGELOG/CHANGELOG-2.13.md
Labels: size/M, cncf-cla: yes, kind/documentation, ok-to-test, approved, lgtm, release-note-none
